.container{
    width: 100%;
}
.bibliothekWrapper{
    width: 80%;
    margin: 0 auto;
}
.fieldWrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.videoWrapper{
    border:1px solid var(--elementColor);
    width: 40%;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.deleteWrapper{
    width: 80%;
    margin: 0 auto;
}
.deleteBtn{
    min-width:300px;
    padding: 10px;
    background:var(--secondBgColor);
    color:var(--fontColor);
    cursor:pointer;
    margin-top: 10px;
}
.warningClose{
    width:200px;
    padding: 5px;
    background:var(--elementColor);
    color:var(--fontColor);
    cursor:pointer;
}
.deleteAll{
    width:200px;
    padding: 5px;
    background:red;
    color:var(--fontColor);
    cursor:pointer;
}
.headingWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 10px;
    justify-content: flex-end;
}
.formWrapper{
    width: 80%;
    margin: 0 auto;
}
.headerWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.formGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height:200px;
}
.label{
    margin-bottom: 5px;
}
.input{
    padding: 1px;
    min-height: 20px;
    border:none;
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
}
.buttonWrapper{
    width: 100px;
    display: flex;
}
.headline{
    font-weight:400;
}
.sendBtn, .addBtn, .removeBtn{
    width: 200px;
    padding: 5px;
    background: var(--secondBgColor);
    color:var(--fontcolor);
    cursor:pointer;
    margin: 5px 10px;
}
@media screen and (max-width:900px) {
    .fieldWrapper{
        flex-direction: column;
    }
    .videoWrapper{
        width: 90%;
    }
}